<!DOCTYPE html>
<html>
<%- include("partials/head.ejs") %>
  <body>
    <header class="navBar">
        <div><img class="logo" src="/static/Pokédex_logo.png">
        <div id="create">
             <img src="/static/pokeball.png"><a href="/pokemon/new">ADD A POKEMON</a><img src="/static/pokeball.png">
        </div>        </div>
        <div><img class="headerImg" src="/static/header-pic.jpg"></div>
        </div>
    </header>
    <div class="container">
            <% for( let pokedude in allMon ) { %>
                <a class="items" href="/pokemon/<%=pokedude%>">
                    <img src="<%=allMon[pokedude].img %>">
                    <div class="details">
                    <h5>#<%=allMon[pokedude].id %></h5>
                    <h3><%=allMon[pokedude].name %></h3>
                    <div class="types">
                        <div>
                            <h5><%=allMon[pokedude].type[0] %></h5></div>
                        <div>
                            <h5> <%=allMon[pokedude].type[1] %></h5></div>
                    </div>
                    </div>
                </a>
            <% } %>
    </div>
                        <!-- <a href="" id="loadMore">
                        <span class="button">Load more Pokémon</span>
                        </a> -->
  </body>
</html>

