<!DOCTYPE html>
<html>
<%- include("partials/head.ejs") %>
  <body>
<%- include("partials/header.ejs") %> 
    <div class="pokemonDetail">
        <div id="image">               
            <img src="<%=pokedude.img %>"></div>
        <div id="detail">
            <h3><%=pokedude.name %></h3>
            <div class="types">
                <div>
                <h5><%=pokedude.type[0] %></h5></div>
                <div>
                <h5> <%=pokedude.type[1] %></h5></div>
            </div>
            <h4>Stats:</h4>
            <div class="stats">
                <div>
                    <h5 id="hp">HP: <%= pokedude.stats.hp %> </h5>
                    <h5 id="attack">ATTACK: <%= pokedude.stats.attack %> </h5>
                </div><div>
                    <h5 id="defense">DEFENSE: <%= pokedude.stats.defense %> </h5>
                    <h5 id="speed">SPEED: <%= pokedude.stats.speed %> </h5>
                </div>
            </div>
        </div>
        <div id="back">
                <a href="/pokemon/">
                <button>BACK</button>
                </a>
        </div>
        <div id="edit">
                <a href="/pokemon/<%= index %>/edit">
                <button>EDIT</button>
                </a>
        </div>
        <div id="delete">
            <div>
                <form action="/pokemon/<%=index%>?_method=DELETE" method="post">
                <input type="submit" value="DELETE">
                </form>
            </div>
        </div>

    </div>
</body>
</html>